.popup__container {
  width: 430px;
  background: #fff;
  box-shadow: 0 0 25px rgba(0, 0, 0, .15);
  border-radius: 10px;
  padding: 34px 36px 37px;
  box-sizing: border-box;
  position: relative;
}

@media (max-width: 696px) {
  .popup__container {
    width: 282px;
    padding: 25px 22px;
  }
}
