.gallery__item {
  margin: 0;
  max-width: 282px;
  border-radius: 10px;
  background-color: #fff;
  display: grid;
  grid-template-columns: 218px 64px;
  grid-template-rows: 282px 79px;
  grid-template-areas:
    'image image'
    'title icon';
  position: relative;
}
