.header__line {
  margin: 0;
  padding-top: 36px;
  border: 1px solid #545454;
  border-top: none;
  border-right: none;
  border-left: none;
  opacity: .7;
}

@media (max-width: 1279px) {
  .header__line {
    padding-top: calc(27px + (9 + 9 * .7) * (100vw - 320px) / 1279);
  }
}
