.gallery {
  margin-top: 51px;
  display: grid;
  grid-template-columns: repeat(auto-fit, 282px);
  column-gap: 17px;
  row-gap: 20px;
  justify-content: center;
}

@media (max-width: 696px) {
  .gallery {
    margin-top: 33px;
  }
}
