.header {
  margin-top: 45px;
  padding-bottom: 36px;
  border-bottom: 1px solid rgba(84, 84, 84, .7);
}

@media (max-width: 1279px) {
  .header {
    margin-top: calc(28px + (17 + 17 * .7) * (100vw - 320px) / 1279);
    padding-bottom: calc(27px + (9 + 9 * .7) * (100vw - 320px) / 1279);
  }
}

@media (max-width: 800px) {
  .header {
    max-width: 664px;
    margin-left: auto;
    margin-right: auto;
  }
}
