.footer__copyright {
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: calc(22 / 18 * 100%);
  color: #545454;
}

@media (max-width: 1279px) {
  .footer__copyright {
    padding-left: calc(19px + (-19 - 19 * .7) * (100vw - 320px) / 1279);
    font-size: calc(14px + (4 + 4 * .7) * (100vw - 320px) / 1279);
    line-height: calc(17 / 14 * 100%);
  }
}
