.footer {
  margin-top: 67px;
  margin-bottom: 60px;
}

@media (max-width: 1279px) {
  .footer {
    margin-top: calc(51px + (16 + 16 * .7) * (100vw - 320px) / 1279);
    margin-bottom: calc(29px + (31 + 31 * .7) * (100vw - 320px) / 1279);
  }
}

@media (max-width: 800px) {
  .footer {
    max-width: 664px;
  }
}
