.popup__field {
  width: 358px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  padding-bottom: 13px;
  font-weight: 400;
  font-size: 14px;
  box-sizing: border-box;
}

.popup__field:focus {
  border-bottom: 1px solid rgba(0, 0, 0, 0);
  outline: .8px solid #000;
  border-radius: 1.2px;
  box-shadow: 0 0 1.5px #000;
}

.popup__field::placeholder {
  color: #c4c4c4;
}

@media (max-width: 696px) {
  .popup__field {
    width: 238px;
  }
}
